.slrspot__review-screening {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.slrspot__review-screening-menu {
  display: flex;
  flex-direction: column;
}

.slrspot__review-screening-menu-options {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0px 40px;
  border-radius: 5px;
  border: thin solid #ae67faa9;
  background-color: #ae67fa6a;
  text-align: left;
}

.slrspot__review-screening-menu-options li {
  font-size: 26px;
  cursor: pointer;
}

.slrspot__review-screening-menu-options li:hover {
  color: #a453faf5;
}