.slrspot___signUp-container {
    left: 0;
    position: absolute;
    display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
	justify-content: center;
    height: 100%;
    width: 50%;
	padding: 0 30px;
}

/* .slrspot__signUp-submitBtn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
} */