.slrspot___signUp-container {
  position: absolute;
  display: flex;
	flex-direction: column;
	justify-content: center;
  height: 100%;
  width: 50%;
	padding: 0 30px;
}

.slrspot___signUp-container a{
  color: rgb(76, 116, 247);
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
}

.slrspot__signUp-header {
  position: fixed;
  align-items: center;
  text-align: center;
  width: 40%;
  top: 5%;
  left: 25%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.slrspot___signUp-fields {
  height: 70%;
  text-align: center;
}

.slrspot__signUp-field {
  height: 18%;
}

.slrspot___signUp-submit {
  position: fixed;
  align-items: center;
  text-align: center;
  bottom: 5%;
  left: 25%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.slrspot___signUp-haveAccount {
  position: fixed;
  align-items: center;
  text-align: center;
  bottom: 0;
  left: 25%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}
  
.slrspot___signUp-haveAccount a{
  font-size: 16px;
  margin-left: 5px;
}