.slrspot__newReview {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex: 1;
  margin: 20px 20px;
  border-radius: 5px;
}

.slrspot__newReview input {
	padding: 8px 15px;
	font-size: 16px;
  margin-bottom: 5px;
}

.slrspot__newReview-header {
  display: flex;
  border-bottom: thin solid #000000;
  text-transform: uppercase;
}

.slrspot__newReview-header h1 {
  font-size: 40px;
  margin: 10px;
}

.slrspot__newReview-container {
  display: flex;
  flex: 1;
}

.slrspot__newReview-menu {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.slrspot__newReview-settings {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  width: 80%;
}

.slrspot__newReview-settings-header {
  display: flex;
  border-bottom: thin solid #000000;
  text-transform: uppercase;
}

.slrspot__newReview-settings-header h2 {
  font-size: 30px;
  margin: 10px;
}

.slrspot__newReview-settings-container {
  display: flex;
  margin: 10px 40px;
  flex: 1;
}

.slrspot__newReview-settings-buttons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 10px;
}

.slrspot__newReview-menu p {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.slrspot__newReview-menu p:hover {
  background-color: #967aff;
}

.slrspot__newReview-menu-selected {
  background-color: #967aff;
  color: white;
}

.slrspot__newReview-reviewSettings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slrspot__newReview-settings button {
  border-radius: 5px;
	background: #967aff;
	color: white;
  font-size: 14px;
	font-weight: bold;
	padding: 10px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
}

.slrspot__newReview-members {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.slrspot__newReview-members-add {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.slrspot__newReview-members-add button {
  margin-left: 30px;
}

.slrspot__newReview-members-list {
  display: flex;
}