/* import font Manrope */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --font-family: 'Montserrat', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  
  --color-bg: #2054FF99;
  --color-footer : #2054FF99;
  --color-text: black;
  --color-subtext: #FF8A71;
}