.slrspot___signIn-container {
    top: 60px;
    position: absolute;
    width: 360px;
    transition: .5s;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slrspot__signIn-inputField {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.slrspot__signIn-submitBtn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}