.slrspot___passwordRecovery {
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slrspot___passwordRecovery-box {
  background: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  width: 768px;
  max-width: 100%;
  min-height: 480px;
  position: relative;
  margin: auto;

  border-radius: 3px; 
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

.slrspot___passwordRecovery-box input {
	padding: 12px 15px;
	margin-top: 20px;
	margin-bottom: 0;
	width: 80%;
}

.slrspot___passwordRecovery-box h1 {
  font-size: 40px;
  text-transform: capitalize;
}

.slrspot___passwordRecovery-box p {
  font-size: 20px;
  margin: 10px 0;
}

.slrspot___passwordRecovery-box button {
	border-radius: 20px;
	background: #AE67FA;
	color: black;
  font-size: 20px;
	font-weight: bold;
	padding: 12px 50px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 20px;
	cursor: pointer;
}