.slrspot__screening-keywords {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.slrspot__screening-keywords-assignment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 40px 50px;
}

.slrspot__screening-keywords-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px 40px;
}

.slrspot__screening-keywords-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49%;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.slrspot__screening-keywords-table p {
  word-wrap: break-word;
  font-size: 22px;
  margin: 5px;
  padding: 4px;
}

.slrspot__screening-keywords-table-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: thin solid #c0c0c0;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px 40px;
  font-size: 28px;
}

.slrspot__screening-keywords-table-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slrspot__screening-keywords-table-header h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.slrspot__screening-keywords-table-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.slrspot__screening-keywords-table-items p {
  word-wrap: break-word;
  font-size: 24px;
  margin: 10px 5px;
  padding: 5px;
  border: thin solid #c0c0c0;
  border-radius: 20px;
}

.slrspot__screening-keywords-table-addIcon {
  color: green;
  margin-left: 5px;
  cursor: pointer;
}

.slrspot__screening-keywords-table-removeIcon {
  color: red;
  margin-right: 5px;
  cursor: pointer;
}

.slrspot__screening-keywords-table-delimiter {
  width: 2%;
}

.slrspot__screening-keywords-empty {
  text-transform: uppercase;
  padding: 20px;
  color: grey;
}

.slrspot__screening-keywords-types {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-radius: 5px;
  border: thin solid #ae67faa9;
  background-color: #ae67fa6a;
  text-align: center;
}

.slrspot__screening-keywords-types h2 {
  padding: 0;
  margin: 0;
  width: 50%;
}

.slrspot__screening-keywords-types h2:hover {
  background-color: #ae67faa9;
  cursor: pointer;
}