@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

input {
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 10px 0;
	width: 80%;
}

button {
	border-radius: 20px;
	border: 0;
	background: linear-gradient(to right, #ff105f, #ffad06);
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 50px;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin: 20px 0;
}

.slrspot__accessPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    backdrop-filter: blur(8px);
}

.slrspot__accessPopup a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 5px 0;
}

.slrspot__accessPopup-box {
    background: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;

	width: 768px;
	max-width: 100%;
	min-height: 480px;
    position: relative;
    overflow: hidden;
    margin: auto;

    border-radius: 3px; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.slrspot__accessPopup-closeBtn_container {
    left: 95%;
    padding: 8px;
    position: absolute;
    z-index:1;
}

.slrspot__accessPopup-closeBtn {
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.slrspot__accessPopup-overlay-container {
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.slrspot__accessPopup-overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	color: #FFFFFF;
	position: relative;
	height: 100%;
	width: 100%;
}