.slrspot__accessPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
}

.slrspot__accessPopup-inner {
    position: relative;
    padding: 12rem 6rem;
    width: 100%;
    max-width: 640px;
    background-color: white;
    display: grid;
    justify-content: center;
}

.slrspot__accessPopup-inner .slrspot__accessPopup-closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
}