.slrspot__footer {
    position: absolute;
    padding: 2rem 6rem;
    bottom: 0;
    width: 100%;
    background: var(--color-footer);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.slrspot__footer-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.slrspot__footer-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slrspot__footer-logo img {
    width: 180px;
    height: 100px;
}

.slrspot__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.slrspot__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .slrspot__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .slrspot__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
}

@media screen and (max-width: 400px) {
    .slrspot__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}