.slrspot__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem 6rem;
    background: var(--color-footer);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.slrspot__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;
}

.slrspot__footer-links div {
    width: 250px;
    margin: 1rem;
}

.slrspot__footer-links_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slrspot__footer-links_logo img {
    width: 180px;
    height: 100px;
}

.slrspot__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.slrspot__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.slrspot__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.slrspot__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.slrspot__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .slrspot__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .slrspot__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .slrspot__footer-links div {
        margin: 1rem 0;
    }

    .slrspot__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .slrspot__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}