.slrspot__reviews {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
}

.slrspot__reviews-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0;
  border-bottom: 1px solid #eee;
}

.slrspot__reviews-container {
  margin: 0 20px;
  min-height: 90vh;
}

.slrspot__reviews button {
	border-radius: 5px;
  font-size: 14px;
	padding: 5px 10px;
  margin-bottom: 5px;
}

.slrspot__reviews-select {
  display: flex;
  margin: 10px 0;
  border-radius: 5px;
  border: thin solid #ae67faa9;
  background-color: #ae67fa6a;
}

.slrspot__reviews-select a {
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
}

.slrspot__reviews-select a:hover {
  background-color: #ae67faa9;
}

.slrspot__reviews-container thead {
  background-color: #967aff;
}

.slrspot__reviews-container th {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;

}

.slrspot__reviews-container td {
  color: white;
  font-size: 18px;
  text-align: center;
}