.slrspot__header {
    display: flex;
    padding: 20rem 6rem;
}

.slrspot__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-right: 5rem;
}

.slrspot__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 80px;
    line-height: 100px;
}

.slrspot__header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: var(--color-text);

    margin: 20px 0px;
}

.slrspot__header-content button {
    border-radius: 20px;
	border: 0;
	background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 20px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media screen and (max-width: 1050px) {
    .slrspot__header {
        flex-direction: column;
    }

    .slrspot__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .slrspot__header h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .slrspot__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .slrspot__header-content {
        margin: 0 0 3rem;
    }
}