.slrspot__folderTree-newFolder {
  display: flex;
  font-size: 20px;
}

.slrspot__folderTree-newFolder button {
  border-radius: 4px;
	padding: 9px 50px;
}

.slrspot__folderTree-newFolder-buttons {
 background-color: #7344a6;
 padding: 0 5px;
 cursor: pointer;
}

.slrspot__folderTree-newFolder span {
  color: white;
  font-size: 24px;
  margin-left: 5px;
}

.slrspot__folder-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.slrspot__folder-item p { 
  margin: 0;
  font-size: 20px;
}

.slrspot__folder-option {
  margin-left: 10px;
  cursor: pointer;
}

.slrspot__folder-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slrspot__folder-pagination li {
  display: inline-block;
  margin: 0;
}

.slrspot__folder-pagination li a {
  display: block;
  padding: 2px 6px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.slrspot__folder-pagination-active {
  color: purple;
}

.slrspot__folder-pagination li.active a {
  background: #333;
  color: #fff;
}

.slrspot__folder-pagination li.disabled a {
  pointer-events: none;
  background: #ddd;
  color: #999;
}

.slrspot__folder-pagination li.previous a,
.slrspot__folder-pagination li.next a {
  padding: 2px 6px;
  font-size: 16px;
}