.slrspot__screeningStudy {
  display: flex;
  flex-direction: column;
  border-bottom: thin solid #c0c0c0;
  margin: 10px 0;
}

.slrspot__screeningStudyInFolder {
  display: flex;
  flex-direction: column;
  border-bottom: thin solid #c0c0c0;
  margin: 0 0 20px;
  align-items: flex-start;
}

.slrspot__screeningStudy h3, .slrspot__screeningStudyInFolder h3 {
  margin: 2px 0;
  font-weight: bold;
}

.slrspot__screeningStudy p, .slrspot__screeningStudyInFolder p {
  margin: 2px 0;
}

.slrspot__screeningStudy label, .slrspot__screeningStudyInFolder label {
  font-weight: bold;
  text-transform: capitalize;
}

.slrspot__screeningStudy-showAbstract-button {
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  align-self: flex-start;
}

.slrspot__screeningStudy-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 0;
}

.slrspot__screeningStudy-options button {
  background-color: white;
  font-size: 12px;
  color: black;
  border: thin solid #c0c0c0;
  border-radius: 4px;
  flex: 1;
	padding: 4px;
}

.slrspot__screeningStudy-options button:hover {
  background-color: rgb(206, 206, 206);
}

.slrspot__screeningStudy-decision {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}

.slrspot__screeningStudy-decision-button {
  flex: 1;
  padding: 4px;
}

.slrspot__screeningStudy-decision-button:hover {
  background-color: #a653fe;
}

.pdf {
  background-color: white;
  font-size: 14px;
  color: black;
  border: thin solid #c0c0c0;
  border-radius: 4px;
  flex: 1;
	padding: 8px;
}

.slrspot__screeningStudy-awaiting {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.slrspot__screeningStudy-awaiting-decision {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.slrspot__screeningStudy-votes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: #f8f8f8;
  border: thin solid #c0c0c0;
  margin: 0 0 5px;
  border-radius: 2px;
}

.slrspot__screeningStudy-votes p {
  text-transform: capitalize;
}