.slrspot__screening-options {
  background-color: #f8f8f8;
  border: thin solid #c0c0c0;
  margin: 10px 40px 5px;
  border-radius: 2px;
}

.slrspot__screening-options-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.slrspot__screening-options-container-checks {
  display: flex;
  align-items: center;
  margin: 0 40px 5px;
  justify-content: space-between;
}

.slrspot__screening-options-check {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.slrspot__screening-options-check label {
  margin-left: 5px;
  text-transform: capitalize;
}

.slrspot__screening-options-search {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.slrspot__screening-options-search-checks {
  display: flex;
  flex-direction: column;
}

.slrspot__screening-options-search-checks-container {
  display: flex;
}

.slrspot__screening-options-search-checks-container span {
  margin-left: 5px;
  text-transform: capitalize;
}

.slrspot__screening-options-search-checks-container label {
  background-color: #7344a6;
  color: white;
  padding: 0;
}

.slrspot__screening-options-search-term {
  display: flex;
}

.slrspot__screening-options-search label {
  background-color: #7344a6;
  color: white;
	padding: 3px 20px;
  text-transform: uppercase;
}

.slrspot__screening-options-search input {
	padding: 2px 30px;
}

.slrspot__screening-options-container-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 40px 5px;
}

.slrspot__screening-options-container-buttons button {
  padding: 5px;
  margin: 0 40px 5px;
  border-radius: 4px;
}