.slrspot__review-menu {
  display: flex;
  flex-direction: row;
  background-color: #232131;
  border-right: 1px solid black;
  width: 15%;
}

.slrspot__review-menu-show {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232131;
  color: white;
  width: 1%;
}

.slrspot__review-menu-options {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 30px;
}

.slrspot__review-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.slrspot__review-menu-item p {
  margin-right: 20px;
  margin: auto 0;
  margin-right: 20px;
}

.slrspot__review-menu-item:hover {
  background: #35324b;
}

.slrspot__review-submenu-options {
  display: flex;
  flex-direction: column;
}

.slrspot__review-submenu-options li {
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
}

.slrspot__review-submenu-options li:hover {
  color: #6d6798;
}