/* .slrspot__confirmationPopup-container {
  left: 90%;
  justify-self: flex-end;
	background: white;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

	width: 65px;
	min-height: 5vh;
	position: absolute;

  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
	border-radius: 10px; 
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */