.slrspot__review {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: white;
}

.slrspot__review-menu {
  display: flex;
  flex-direction: row;
  background-color: #232131;
  border-right: 1px solid black;
  width: 15%;
}

.slrspot__review-menu-show {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232131;
  color: white;
  width: 1%;
}

.slrspot__review-menu-options {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 30px;
}

.slrspot__review-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
